{% extends 'posts/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col-sm">
            <form action="{% url 'new-post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="author" value="{{user}}">

                <div class="form-group">
                    <label for="exampleInputEmail1">Titulo:</label>
                    <input type="text" class="form-control" id="id_email"  aria-describedby="emailHelp" name="title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Conteudo:</label>
                    <textarea name="content" class="form-control" id="validationTextarea" rows="15" ></textarea> 
                </div>    
                <div class="form-group">
                    <label for="exampleInputEmail1">Imagem:</label>
                    <input type="file" name="image" id="">
                </div>               
                <button type="submit" class="btn btn-dark btn-lg btn-block"  >Postar</button>

            </form>
        </div>
    
    </div>
</div>







{% endblock %}